body{
    margin: 0;
    width: 100%;
}
.header {
    display:flex;
    width:100%;
    padding-left: 150px;
}
.links{
    display: flex;
    margin-left: auto;
    font-size: 18px;
    list-style-type:none;
    gap: 30px;
    padding-right: 300px;
    border: 2px solid red;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.hero {
    background-color: #1F2937;
}